body {
    height: 1080px;
    background: linear-gradient(to bottom, #00c5c5 0%, #005e5e 100%)
}

h1 {
  text-align: center;
  font-family: verdana;
  font-size: 4vw;
}

div {
  padding: 10px;
}

p {
  text-align: center;
  font-family: verdana;
  font-size: 2vw;
  padding: 20px;
}

img#intro {
  max-width: 40%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}