body {
    height: 1080px;
    background: linear-gradient(to bottom, #00ffccb7 0%, #009999da 100%)
}

h1 {
  color: black;
  text-align: center;
  font-size: 100px;
}

p {
  font-family: verdana;
  font-size: 20px;
}

img {
  align-items: center;
}